# All things related to Visual Studio Code 
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.DS_Store
Thumbs.db

# NodeJS 
npm-debug.log
node_modules/
build/node_modules
yarn-error.log

# build/testing
.build/
out/
out-build/
coverage/
test_data/

