# All things related to Visual Studio Code 
.vscode/
*.code-workspace

*.DS_Store
[Tt]humbs.db
~$*

# NodeJS 
npm-debug.log
node_modules/
build/node_modules
yarn-error.log

# build/testing
.build/
out/
out-build/
coverage/
test_data/